---
const proyectos = [
  {
    nombre: "Gente Comunicaciones",
    descripcion:
      "Desarrollo de un sitio web para Gente Comunicaciones, reconocido medio de comunicaci칩n en la regi칩n de O'Higgins, Chile.",
    link: "https://www.gentecomunicaciones.cl",
    screenshot: "/gente.png",
  },
  {
    nombre: "Caba침as Atrapa Mar",
    descripcion:
      "Web para Caba침as Atrapa Mar, un hermoso lugar de hospedaje en Pichilemu.",
    link: "https://www.atrapamar.cl/",
    screenshot: "/atrapa-mar.png",
  },
  {
    nombre: "El Vitrola",
    descripcion:
      "Sitio web para El Vitrola, un famoso y reconido locutor de Radio en Chile.",
    link: "https://www.elvitrola.cl/",
    screenshot: "vitro.png",
  },
];
---

<div class="mt-10 p-5 rounded-2xl bg-slate-700 w-full max-w-4xl mx-auto">
  <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-3">
    {
      proyectos.map((proyecto) => (
        <div class="flex flex-col items-center p-4 bg-slate-400 rounded-lg shadow-md">
          <img
            src={proyecto.screenshot}
            alt={`Screenshot de ${proyecto.nombre}`}
            class="w-full h-auto mb-4 rounded-md"
          />
          <h3 class="text-xl font-semibold mb-2">{proyecto.nombre}</h3>
          <p class="text-gray-700 font-light text-center mb-4">
            {proyecto.descripcion}
          </p>
          <a
            href={proyecto.link}
            class="text-blue-500 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >
            Visitar Proyecto
          </a>
        </div>
      ))
    }
  </div>
</div>
